.tournament-details-container {
  .action-button {
    position: absolute;
    top: 100px;
    right: 30px;
  }

  .state {
    width: 300px;
  }

  .teams-table {
    width: 500px;
    margin-bottom: 100px;
  }

  .match-table {
    width: 500px;
  }
}
