.profile-container {
  width: 600px;

  &-form {
    width: 100%;
    margin: 30px 0 30px 0;
  }

  .center-child-block {
    margin-top: 20px;
  }

  .addition-func {
    padding: 10px;
  }

  .button-change-password {
    margin-left: 50px;
  }
}
